@import 
url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

@import 
url(https://fonts.googleapis.com/css?family=Inter:700&display=swap);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-main: #FFFFFF;
  --c-accent: #787878;
  --c-interactive: #1A226B;
  --c-light-gray: #CCCCCC;

  /* -------------------------- */

  --base-font-family: 'Roboto', sans-serif;
  --base-font-weight: 400;
  --base-font-size: 16px;
  --base-font-line-height: 1;
  --header-font-family: 'Inter', sans-serif;

  /* -------------------------- */

  --border: 2px solid #787878;
  --box-shadow-1: 0px 4px 4px 0px #00000040;
  --box-shadow-2: 0px 0px 40px 10px #00000040;



  /* -------------------------- */

  --input-height: 50px;
}

body {
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  line-height: var(--base-font-line-height);
  
}

/* ------------------------------------------ */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

label,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 36px;
  font-weight: 700;
  color: var(--c-accent);
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: var(--c-accent);
}

label,
span {
  font-size: 14px;
  font-weight: 700;
  color: var(--c-accent);
}

input,
textarea {
  font-size: 28px;
  font-weight: 700;
  color: var(--c-accent);
}

a {
  font-family: var(--header-font-family);
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--c-accent);
}

a:hover {
  opacity: 0.9;
}


/* ------------------ */

.container {
  width: 100%;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------ */

.header {
  width: 100%;
  max-height: 80px;
  box-shadow: var(--box-shadow-1);
  padding: 15px 20px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header__start {
  display: flex;
  column-gap: 20px;
  
  
}

.header__logo {
  max-width: 15.4vw;
}

.header__heading {
  align-self: center;
}

.header__nav-bar {
  display: flex;
  column-gap: 20px;
  padding-left: 5px;
}

.active {
  color:#1A226B;
}

/* ------------------ */

.content {
  display: flex;
  justify-content: center;
}

.content__inner {
  width: 100%;
  max-width: 600px;
  margin: 100px 15px;
  padding: 25px 45px;
  background-color: var(--c-main);
  box-shadow: var(--box-shadow-2);
}

/* ------------------ */

.form {
  display: grid;
  place-items: center;
  
}

.form__title {
  line-height: 1;
  padding-bottom: 15px;
}

.form__body {
  width: 100%;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

/* ------------------------------- */

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.input__label {
  padding-bottom: 5px;
}

.input__control {
  padding: 0 5px 0 15px;
  height: var(--input-height);
  border: var(--border);
}

.input__control::placeholder {
  color: var(--c-light-gray);
}

.input__control:hover {
  border-color: var(--c-interactive);  
}

/* ---------------------------------- */

.radio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radio__heading {
  padding-bottom: 5px;
}

.radio__item:not(:last-child) {
  padding-bottom: 10px;
}

.radio__label_male,
.radio__label_female {
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: var(--base-font-weight);
  
}

.radio__control_male,
.radio__control_male {
  margin-right: 12px;
}



.radio__emulator_male,
.radio__emulator_female {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: var(--border);
  border-radius: 50%;
  cursor: pointer;
}

.radio__emulator_male::after,
.radio__emulator_female::after {
  content: "";
  place-self: center;
  width: 12px;
  height: 12px;
  background-color: var(--c-accent);
  border-radius: 50%;
  opacity: 0;
}

.radio__emulator_male:hover,
.radio__emulator_female:hover {
  border-color: var(--c-interactive);
}

.radio__control_male:checked + .radio__emulator_male::after,
.radio__control_female:checked + .radio__emulator_female::after {
  opacity: 1;
}

/* -------------------------------- */

.textarea {
  padding-bottom: 24px;
}

.textarea__heading {
  padding-bottom: 5px;
}

.textarea__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.textarea__control {
  padding: 10px 15px 10px 15px;
  width: 100%;
  height: 260px;
  resize: none;
  font-family: var(--base-font-family);
  font-weight: 700;
  border: var(--border);
}

.textarea__control::placeholder {
  color: var(--c-light-gray);
}

.textarea__control:hover {
  border-color: var(--c-interactive);  
}

/* ----------------------------------- */

.checkbox {
  display: flex;
}

.checkbox__control {
  margin-right: 15px;
  cursor: pointer;
}

.checkbox__text {
  padding: 5px;
}

.checkbox__emulator {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: var(--border);
}

.checkbox__emulator::after {
  content: "";
  place-self: center;
  background-color: var(--c-accent);
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: 0.2s;
}

.checkbox:hover .checkbox__emulator {
  border-color: var(--c-interactive);
}


.checkbox__control:checked + .checkbox__emulator::after {
  opacity: 1;
}

/* ------------------ */

.form__submit {
  width: 100%;
  max-width: 180px;
  height: 50px;
  font-size: 24px;
  color: var(--c-main);
  border: none;
  background-color: var(--c-interactive);
  cursor: pointer;
  transition: 0.2s;
}

.button {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/* -------------------------------------------------------- */

@media screen and (max-width: 767px) and (min-width: 320px) {

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 45px;
  }

  a {
    font-size: 16px;
  }

  input,
  textarea {
    font-size: 18px;
  }

  .container {
    max-width: 768px;
  }

  .header {
    padding: 15px 10px;
  }

  .header__start {
    column-gap: 15px;
    
    
  }
  
  .header__nav-bar {
    column-gap: 10px;

  }
  

  .content__inner {
    margin-top: 80px;
  }

  /* ------------------ */
  
}