* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}



.page-header {
  background: linear-gradient(to right, #6441a5, #2a0845);
  height: 50px;
}

.page-header__h1 {
  color: white;
  padding: 5px 20px;
}

.main-content {
  display: flex;
  position: relative;
}

.main-content__aside-bar {
  margin: 15px;
  width: 100%;
  max-width: 180px;
  border-right: 1px solid #000000;
  padding: 5px;

}

.aside-bar {
  position: sticky;
  top: 10px;
}

.aside-bar__name {
  font-size: 18px;
}

.aside-bar__links {
  list-style: none;
  padding-top: 10px;
}

.aside-bar-links__item a {
  color: orange;
}

.main-content__contacts {
  position: relative;
  margin: 20px;
  width: 100vw;
}

.contacts__letter {
  position:sticky;
  top: 0px;
  background: linear-gradient(to right, #6441a5, #2a0845);
  color: white;
  padding: 0 10px;
}

.contacts__list {
  list-style: none;
  padding: 15px;
}

.contacts-list__item {
  font-size: 18px;
}

.main-content__top-button {
  position: fixed;
  top: 85%;
}

.top-button__content{
  border: none;
}

.top-button__content a{
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #6441a5, #452372)
}

.main-content__top-button a::after {
  content: " \2934";
}

.page-footer {
  height: 50px;
  background: linear-gradient(to right, #6441a5, #2a0845);
}

.footer__text {
  color: white;
  font-size: 14px;
  padding: 15px;
}


    
